extends layout

block content
    //- .jumbotron
    .container
        h1 About Us
        p His harum signiferumque in, singulis moderatius vix eu. Ea quis utamur vel, verterem comprehensam an mel. Te clita nonumes consetetur quo, diceret detracto no cum. Purto utamur eripuit ex mei.
        ul
          li Ei per amet paulo dicunt,
          li e clita nonumes consetetur quo, diceret detracto no cum. Purto utamur eripuit ex mei.
          li solum altera salutandi cu his
        p Et assum movet delectus mea, no movet detracto molestiae sea. Eam ne latine quaeque alienum. At errem efficiantur usu, ad vel utroque voluptua, sententiae dissentiunt vis at. Justo intellegam eu ius, labores nusquam inimicus et eam. Pri ei consul debitis. Vide labore facilisis no pro. Eum id aliquid offendit honestatis, quo ea regione nonumes disputationi. Vitae hendrerit incorrupte qui ut, sed ex propriae scaevola.
