extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eros sapien. Vestibulum at nunc quam. Nulla dui nunc, rhoncus in nunc eu, tincidunt egestas sem. Donec quis urna odio. Quisque in lorem sagittis, convallis nibh ac, tincidunt enim. Proin vehicula auctor dui vel venenatis. Nunc et neque quis ante ornare feugiat et et diam. Fusce in metus et risus condimentum ornare in vel magna. Nulla vulputate ante ante, nec cursus erat semper sit amet. Praesent quis rutrum mauris, placerat egestas felis. Mauris commodo tempus lobortis. 
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eros sapien. Vestibulum at nunc quam. Nulla dui nunc, rhoncus in nunc eu, tincidunt egestas sem. Donec quis urna odio. Quisque in lorem sagittis, convallis nibh ac, tincidunt enim. Proin vehicula auctor dui vel venenatis. Nunc et neque quis ante ornare feugiat et et diam. Fusce in metus et risus condimentum ornare in vel magna. Nulla vulputate ante ante, nec cursus erat semper sit amet. Praesent quis rutrum mauris, placerat egestas felis. Mauris commodo tempus lobortis. 
                a.btn.btn-default(href='#') view Details
            .col-md-4
                h2 Services
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eros sapien. Vestibulum at nunc quam. Nulla dui nunc, rhoncus in nunc eu, tincidunt egestas sem. Donec quis urna odio. Quisque in lorem sagittis, convallis nibh ac, tincidunt enim. Proin vehicula auctor dui vel venenatis. Nunc et neque quis ante ornare feugiat et et diam. Fusce in metus et risus condimentum ornare in vel magna. Nulla vulputate ante ante, nec cursus erat semper sit amet. Praesent quis rutrum mauris, placerat egestas felis. Mauris commodo tempus lobortis. 
                a.btn.btn-default(href='#') view Details
            .col-md-4
                h2 Del In Touch
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eros sapien. Vestibulum at nunc quam. Nulla dui nunc, rhoncus in nunc eu, tincidunt egestas sem. Donec quis urna odio. Quisque in lorem sagittis, convallis nibh ac, tincidunt enim. Proin vehicula auctor dui vel venenatis. Nunc et neque quis ante ornare feugiat et et diam. Fusce in metus et risus condimentum ornare in vel magna. Nulla vulputate ante ante, nec cursus erat semper sit amet. Praesent quis rutrum mauris, placerat egestas felis. Mauris commodo tempus lobortis. 
                a.btn.btn-default(href='#') view Details
